:root {
  --border-radius: 10px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(255, 20%, 10%);
}

main {
  color: hsl(0, 0%, 44%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card {
  max-width: 320px;
  padding: 2em;
  background-color: #1c1f2b;
  text-align: center;
  border-radius: var(--border-radius);
  position: relative;
}

.animated-border::after,
.animated-border::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;
  border-radius: var(--border-radius);
  animation: 3s spin linear infinite;
}

.animated-border::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
/* 
.stand {
  position: absolute;
  left: 50%;
  translate: -50%;
  width: 100px;
  height: 100px;
  background-image: linear-gradient(to bottom, #1c1f2b, hsl(255, 20%, 10%));
  border-radius: 100%;
  z-index: 1;
} */

.control-button {
  border: 0;
  padding: 10px 30px;
  border-radius: var(--border-radius);
  transition: all 0.5s;
}
